spring:
  application:
    name: DBterm_Back

  datasource:
    url: jdbc:postgresql://localhost:5433/dbterm
    username: termadmin
    password: test1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false

server:
  port: 8081
